
/* Your CSS Code here. */
/* th, td{
border: 2px solid black;
}

.table0{
	border:solid 2px black;
}
.table1{
	width: 100%; 
	border:solid 2px black;
}

.table2{
	width: 100%;
	border:solid 2px"
}

td{
	 text-align: center;
} */
table,th,tr,td{
    border: 1px solid black;
}
.Data1{
    width: 250px;
    height: 200px;
}
.Row1{
    text-align: center;
}
.tab1{
    width: 250px;
}
.Data2{
    height: 100px;
}